@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Berkshire+Swash&family=Capriola&family=Caveat+Brush&family=DynaPuff:wght@400..700&family=Ewert&family=Miltonian+Tattoo&family=Outfit:wght@100..900&family=Rancho&family=Skranji:wght@400;700&family=Sriracha&display=swap');

@import "tailwindcss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}
body{
  min-height: 100vh;
  background-color: #fcfcfc;
}
a{
  text-decoration: none;
  color: inherit;
}
hr{
  border:none;
  height: 1px;
  background-color: #a9a9a9;
}